*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:rgb(223, 28, 28);
    --secondary-color:blue;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--primary-color);
    height: 60px;
}
.btn {

}
#login,#signup{
    background-color: var(--secondary-color);
    width: 100px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
nav h1{
    font-size: 40px;
}

/* Searchbar */
.search{
    background-color:var(--primary-color);
    width: auto;
}
.search ul{
    display: flex;
    justify-content: space-around;
}
.search ul li{
    list-style: none;
}
.tag{
    background-color: red;
}
.tag h1{
    text-align: center;
    color: var(--secondary-color);
}
.Explore {
    width: 200px;
    height: 50px;
    border-radius: 30px;
}


