*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:rgb(223, 28, 28);
    --secondary-color:blue;
    --grid-columns: 3; /* Number of columns */
    --grid-row-height: 254px; /* Height of each row */
}

/* Navigation */
body{
    background-image: url("https://img.freepik.com/free-vector/combination-circuit-head-shape-artificial-intelligence-moral-electronic-world-illustration_456031-123.jpg?w=1380&t=st=1693542980~exp=1693543580~hmac=0a0f8e011f3834f342312bd05d20840e9dda8f9186844ae66f5752e6c4d179e2");
}

/* items */
.item {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 80%;
    height: 350px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.menuItems {
    background-color: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.menu {
    background-color: none;
    margin: 0px 20px;
}
.item h1{
    font-size: 40px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(7,60,155,1) 64%, rgba(0,212,255,1) 91%);
    -webkit-background-clip: text; /* For webkit-based browsers like Chrome and Safari */
    background-clip: text;
    color: transparent; /* Hide the actual text color */
    margin-top: 30px;
}
.item p{
    margin-top: 30px;
}
.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: aliceblue;
}
.button1{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(7,60,155,1) 64%, rgba(0,212,255,1) 91%);

    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    color: aliceblue;
}
.background{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(7,60,155,1) 36%, rgba(0,212,255,1) 70%);
    opacity:0;
    border-radius: 10px;
    padding: 30px;
    transition: 0.5s;
}
.background:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(7,60,155,1) 36%, rgba(0,212,255,1) 70%);
    opacity:1;
    border-radius: 10px;
    padding: 30px;
}
.background h1 {
   
}
